.tweet
    display: flex
    flex-direction: column
    max-width: 500px
    min-width: 220px
    margin: 1rem auto

    @import "./components/layout/light"

    &--dark
        @import "./components/layout/dark"

    & :global(*),
    & :global(*::before),
    & :global(*::after)
        margin: 0
        padding: 0
        box-sizing: inherit

    @media (max-width: 600px)
        max-width: 300px
